.chess-board__square--white,
.chess-board__square--black {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-board__square--white {
  background-color: #d4cbff;
}

.chess-board__square--black {
  background-color: #9288ff;
}

.square--selected {
  background-color: rgb(207, 86, 86);
}

.chess-board__square__piece-img {
  width: 60%;
  height: 60%;
}
